{% import 'macro' as macro %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ chart.page_title }}</title>
    {{ macro.render_chart_dependencies(chart) }}
    {{ macro.render_chart_css(chart) }}
</head>
<body>
    {{ macro.generate_tab_css() }}
    {{ macro.display_tablinks(chart) }}

    <div class="box">
        {% for c in chart %}
            {% if c._component_type == "table" %}
                {{ macro.generate_table_css() }}
                <div id="{{ c.chart_id }}" class="chart-container">
                    {{ macro.show_components_title(c) }}
                    {{ c.table_html }}
                </div>
            {% else %}
                {{ macro.render_chart_content(c) }}
            {% endif %}
        {% endfor %}
    </div>

    <script>
        {% for js in chart.js_functions.items %}
            {{ js }}
        {% endfor %}
    </script>
    {{ macro.switch_tabs() }}
</body>
</html>
