<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ chart.page_title }}</title>
    {% for dep in chart.dependencies %}
        <script type="text/javascript" src="{{ dep }}"></script>
    {% endfor %}
</head>
<body>
    <div id="{{ chart.chart_id }}" style="width:{{ chart.width }}; height:{{ chart.height }};"></div>
    <script>
        var chart_{{ chart.chart_id }} = echarts.init(
            document.getElementById('{{ chart.chart_id }}'), '{{ chart.theme }}', {renderer: '{{ chart.renderer }}'});
        {{ chart.custom_function }}
        var option_{{ chart.chart_id }} = {{ chart.options }};
        chart_{{ chart.chart_id }}.setOption(option_{{ chart.chart_id }});
    </script>
</body>
</html>
