<script>
    require.config({
        paths: {
            {{ config_items | join(', ') }}
        }
    });
</script>

{% for chart in charts %}
    <div id="{{ chart.chart_id }}" style="width:{{ chart.width }}; height:{{ chart.height }};"></div>
{% endfor %}


<script>
    require([{{ libraries | join(', ') }}], function(echarts) {
    {% for chart in charts %}
        var chart_{{ chart.chart_id }} = echarts.init(
                document.getElementById('{{ chart.chart_id }}'), '{{ chart.theme }}', {renderer: '{{ chart.renderer }}'});
        {{ chart.custom_function }}
        var option_{{ chart.chart_id }} = {{ chart.options }};
        chart_{{ chart.chart_id }}.setOption(option_{{ chart.chart_id }});
    {% endfor %}
    });
</script>
