<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ECharts</title>
	<!-- build -->
    <script src="js/echarts.min.js"></script>
    <script src="js/echarts-gl.js"></script>
    <script type="text/javascript " src="js/china.js"></script>
    <script type="text/javascript " src="js/world.js"></script>
    <script type="text/javascript " src="js/anhui.js "></script>
    <script type="text/javascript " src="js/aomen.js "></script>
    <script type="text/javascript " src="js/beijing.js "></script>
    <script type="text/javascript " src="js/chongqing.js "></script>
    <script type="text/javascript " src="js/fujian.js "></script>
    <script type="text/javascript " src="js/gansu.js "></script>
    <script type="text/javascript " src="js/guangdong.js "></script>
    <script type="text/javascript " src="js/guangxi.js "></script>
    <script type="text/javascript " src="js/guizhou.js "></script>
    <script type="text/javascript " src="js/hainan.js "></script>
    <script type="text/javascript " src="js/hebei.js "></script>
    <script type="text/javascript " src="js/heilongjiang.js "></script>
    <script type="text/javascript " src="js/henan.js "></script>
    <script type="text/javascript " src="js/hubei.js "></script>
    <script type="text/javascript " src="js/hunan.js "></script>
    <script type="text/javascript " src="js/jiangsu.js "></script>
    <script type="text/javascript " src="js/jiangxi.js "></script>
    <script type="text/javascript " src="js/jilin.js "></script>
    <script type="text/javascript " src="js/liaoning.js "></script>
    <script type="text/javascript " src="js/neimenggu.js "></script>
    <script type="text/javascript " src="js/ningxia.js "></script>
    <script type="text/javascript " src="js/qinghai.js "></script>
    <script type="text/javascript " src="js/shandong.js "></script>
    <script type="text/javascript " src="js/shanghai.js "></script>
    <script type="text/javascript " src="js/shanxi.js "></script>
    <script type="text/javascript " src="js/sichuan.js "></script>
    <script type="text/javascript " src="js/taiwan.js "></script>
    <script type="text/javascript " src="js/tianjin.js "></script>
    <script type="text/javascript " src="js/xianggang.js "></script>
    <script type="text/javascript " src="js/xinjiang.js "></script>
    <script type="text/javascript " src="js/xizang.js "></script>
    <script type="text/javascript " src="js/yunnan.js "></script>
    <script type="text/javascript " src="js/zhejiang.js "></script>
	<!-- endbuild -->
</head>

<body>
{%block charts%}
{%include "chart_component.html"%}
{%endblock%}
</body>

</html>
