<div id="{{ chartId }}" style="width:{{ myWidth }}px; height:{{ myHeight }}px;"></div>
<script>
    require.config({
         paths:{
           echarts: '//oog4yfyu0.bkt.clouddn.com/echarts',
           liquidFill: '//oog4yfyu0.bkt.clouddn.com/liquidfill'
         }
    });
    require(['echarts','liquidFill'],function(ec){
    var myChart = ec.init(document.getElementById('{{ chartId }}'));
               var option =  {{ myOption }};
               myChart.setOption(option);
    });
</script>
