<body>
    <style>
        html,
        body,
        # {{ chartId }} {
            width: 100%;
            height: 100%;
            margin: 0;
        }
    </style>
<div id="{{ chartId }}" style="width:{{ myWidth }}px; height:{{ myHeight }}px;"></div>
<script>
    require.config({
        paths:{
        echarts: '//cdn.bootcss.com/echarts/3.2.2/echarts.simple',
        wordCloud: '//data-visual.cn/datav/src/js/echarts/extension/echarts-wordcloud.min'
        }
    });
    require(['echarts', 'wordCloud'],function(ec){
    var myChart = ec.init(document.getElementById('{{ chartId }}'));
            var option =  {{ myOption }};
            myChart.setOption(option);
    });
</script>
</body>
