name: pyecharts CI

on: [push, pull_request]

jobs:
  build:
    strategy:
      # Allows for matrix sub-jobs to fail without canceling the rest
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11", "3.12", "3.13"]
        exclude: # Python < v3.8 does not support Apple Silicon ARM64.
          - python-version: "3.7"
            os: macos-latest
          - python-version: "3.7"
            os: ubuntu-latest
        include: # So run those legacy versions on Intel CPUs.
          - python-version: "3.7"
            os: macos-13
          - python-version: "3.7"
            os: ubuntu-22.04
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools
        pip install -r requirements.txt
        pip install -r test/requirements.txt
    - name: Run unit test
      run: |
        python setup.py install
        python test.py
    - name: Codecov
      run: |
        codecov
